*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html, body{
    overflow-x: hidden;
    max-width: 100%;
}

.container{
    width: 1200px;
    max-width: 1200px;
    margin: 30px auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
}

.transaction-container h2{
    font-size: 35px;
    color: #38a3a5;
}

.balance-container{
    margin-bottom: 20px;
    background: linear-gradient(135deg, #38a3a5, #57cc99);
    border-radius: 12px;
    padding: 40px;
    text-align: center;
}

.balance-container h2{
    font-size: 30px;
}

.summary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    font-size: 22px;
    gap: 20px;
}

.income-amount{
    margin-top: 10px;
}

.expense-amount{
    margin-top: 10px;
}

.income-tracker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #38a3a5;
    border-radius: 12px;
    padding: 10px;
    font-size: 25px;
}

.expense-tracker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #dc2f02;
    border-radius: 12px;
    padding: 10px;
    font-size: 25px;
}

h2{
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.transaction-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.transaction-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 8px;

}

.form-container{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    box-shadow: 0 4px 8px #444;
    padding: 24px;
    gap:24px;
    font-size: 22px;
    border-radius: 12px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group{
    margin-bottom: 20px;
}


label{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 12px 16px;
    display: block;
    border-radius: 12px;
    font-size: 18px;
    border: 2px solid #dee2e6;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}
small{
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
}

button[type="submit"]{
    padding: 8px;
    border: none;
    border-radius: 12px;
    background-color: #38a3a5;
    font-size: 22px;
    color: white;
    transition: transform 0.2s ease;
    animation: slideIn 0.2s ease;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.btn:hover{
    background: linear-gradient(135deg, #38a3a5, #57cc99);
    transform: scale(1.05, 1.08)
    
}


.transaction{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px #dee2e6;
    width: 100%;
    margin-bottom: 12px;
    border: none;
    text-decoration: none;
    padding: 1rem 1.2rem;
    border-radius: 12px;
    transition: all 0.2s ease;
    animation: slideIn 0.2s ease;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateX(-20px)
    }

    to{
        opacity: 1;
        transform: scaleX(0px);
    }
}

.income{
    border-right: 5px solid #38a3a5;
    padding: 24px;
    transition: transform 0.2s ease;
}

.expense{
    border-right: 5px solid #dc2f02;
    padding: 24px;
    transition: transform 0.2s ease;
}

.income:hover,
.expense:hover{
    transform: translateY(-2px);
}

@media (max-width:480px){
    .summary{
        grid-template-columns: 1fr;
        gap: 16px;
        flex-wrap: wrap;
    }

    .main{
        grid-template-columns: 1fr;
    }

    .income-tracker{
        overflow-x: hidden;
    }

    .container{
        padding: 25px;
        font-size: 22px;
    }

    .income-tracker{
        font-size: 22px;
        flex: 1 1 140px;
    }

    .income-tracker h2{
        font-size: 25px;
    }

    .expense-tracker {
        font-size: 22px;
        flex: 1 1 140pxs;
    }

    .expense-tracker h2{
        font-size: 25px;
    }

     h1{
        font-size: 25px;
     }

     h2{
        font-size: 25px;
     }
}

@media (max-width:260px){
    .container{
        font-size: 18px;
    }

    h2{
        font-size: 30px;
    }

    h1{
        font-size: 22px;
    }
    .transaction-container{
        font-size: 22px;
    }
}

.transaction .delete-btn{
    opacity: 0;
    background-color: none;
    cursor: pointer;
    color: #444;
    margin-left: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    transition: all 0.2s ease;
    font-size: 1.2rem;
    border: none;
}

.transaction:hover .delete-btn{
    opacity: 1;
}

.transaction .delete-btn:hover{
    background-color: #38a3a5;
    color: white;
    transform: scale(1.1);
}

